doctype 5
html
  head
    title= title
    
    // meta
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    // javascripts
    script(data-main='/javascripts/main.js', src="/libs/requirejs/require.js")

    // stylesheets
    link(rel='stylesheet', href='/libs/bootstrap/docs/assets/css/bootstrap.css')
    link(rel='stylesheet', href='/libs/bootstrap/docs/assets/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    // header
    include shared/header

    // content
    #page-wrapper
      #content.container
        block content